/* === ROOT ELEMENTS === */
:root{
  --color-bgl4: #CFD8DC;
  --color-bgl3: #B0BEC5;
  --color-bgl2: #90A4AE;
  --color-bgl1: #78909C;
  --color-bgd1: #546E7A;
  --color-bgd2: #455A64;
  --color-bgd3: #37474F;
  --color-greyl2: #E0E0E0;
  --color-greyd1: #757575;
  --color-greyd2: #616161;
  --color-greyd3: #424242;
}
body{
  font-family: 'Source Code Pro', monospace;
  color: var(--color-greyl2);
  background-color: var(--color-bgd2);
}

/* === HOMEPAGE === */
.homeHeader {
  color: #374151;
  background-color: #93F3CF;
  border-bottom: 4px dashed #4B5563;
  transition-duration: 0.5s;
}